<section class="card">
    <title>{{vendor.name}}</title>
    <div class="card-body">
        <img class="vendor-img" src="../public/assets/vendors/{{vendor.image}}" alt="{{vendor.name}}"/>
        <p class="vendor-desc">{{vendor.description}}</p>
        <p class="vendor-price">Starting price: {{vendor.price}}</p>
        <p class="vendor-no">Contact number: {{vendor.number}}</p>
        <p class="vendor-email">Email: {{vendor.email}}</p>
    </div>
</section>

<script src="./js/vendor.js"></script>