<section class="card">
    <title>{{name}}</title>
    <div class="card-body">
        {{!-- <img class="vendor-img" src="assets/vendors/{{vendor.image}}" alt="{{vendor.name}}"/> --}}
        <p class="vendor-desc">{{description}}</p>
        <p class="vendor-price">Starting price: {{price}}</p>
        <p class="vendor-no">Contact number: {{number}}</p>
        <p class="vendor-email">Email: {{email}}</p>
    </div>
</section>

<script src="./js/vendor.js"></script>