<section class="card">
    <title>{{name}}</title>
    <div class="card-body">

        <div class="toggle-content p-2" aria-hidden="false">
            <img class="venue-img" src="assets/venues/{{image}}" alt="{{name}}" />
        </div class="venue-toggle" aria-controls="toggle-content">
        <div class="toggle-content p-2" aria-hidden="true">
            <p class="venue-desc">{{venue.description}}</p>
            <p class="venue-cap">Maximum capacity: {{venue.capacity}}</p>
            <p class="venue-price">Starting price: {{venue.price}}</p>
            <p class="venue-no">Contact number: {{venue.number}}</p>
            <p class="venue-email">Email: {{venue.email}}</p>
        </div>
    </div>
</section>

<script src="./js/venue.js"></script>