<section class="card">
    <title>{{name}}</title>
    <div class="card-body">
        <img class="venue-img" src="assets/venues/{{image}}" alt="{{name}}"/>
        <p class="venue-desc">{{description}}</p>
        <p class="venue-cap">Maximum capacity: {{capacity}}</p>
        <p class="venue-price">Starting price: {{price}}</p>
        <p class="venue-no">Contact number: {{number}}</p>
        <p class="venue-email">Email: {{email}}</p>
    </div>
</section>

<script src="./js/venue.js"></script>