<section class="card">
    <div class="container my-2 py-2">
        <div class="row mb-2 col-12 d-flex justify-content-center align-items-center my-3"></div>
             <h3 class="event-name">{{event.name}}</h3>
             <p class="event-type">{{event.type}}</p>
             <p class="event-date">{{event.date}}</p>
             <p class="event-budget">{{event.budget}}</p>
             <p class="event-guests">{{event.attendees}}</p>
        </div>
    </div>   
</section>

<script src="./js/event.js"></script>