<section id="planned-event">
    <div class="container my-2 py-2">
        <div class="row mb-2 col-12 d-flex justify-content-center align-items-center my-3">
            <h2 class="event-list text-center">Event Details</h2>
            <hr>

            <div class="card p-4 m-2 col-sm-12 col-md-10 col-lg-8">
                <div class="">
                    <img src="../../assets/venues/watsons-bay.jpeg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="event-name">{{event.name}}</h3>
                        <p class="event-type">{{event.type}}</p>
                        <p class="event-date">{{event.date}}</p>
                        <p class="event-budget">{{event.budget}}</p>
                        <p class="event-guests">{{event.attendees}}</p>
                        {{!-- TODO ADD THESE {{event.}} --}}
                        <p class="event-venue">{{event.venue}}</p>
                        <p class="event-vendor">{{event.vendor}}</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>


<script src="./js/event.js"></script>
<script src="./js/vendor.js"></script>
<script src="./js/venue.js"></script>