<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Event:</h3>

    <form class="form new-event-form">
      <div class="form-group">
        <label for="event-name">Event name:</label>
        <input class="form-input" type="text" id="event-name" name="event-name" />
      </div>
      <div class="form-group">
        <label for="event-type">Event type:</label>
        <select class="form-select" aria-label="event-type">
          <option selected>Event type</option>
          <option value="Wedding">Wedding</option>
          <option value="Engagement">Engagement</option>
          <option value="Birthday">Birthday</option>
          <option value="Christening">Christening</option>
          <option value="Hens">Hens</option>
          <option value="Bachelor">Bachelor</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="event-budget">Buget ($):</label>
        <input class="form-input" type="number" id="event-budget" name="event-budget" />
      </div>
      <div class="form-group">
        <label for="event-guest">Number of guests:</label>
        {{!-- TODO: Need to be edited in front end js --}}
        <input class="form-input" id="event-guest" name="event-guest"></input>
      </div>
      <div class="form-group">
        <label for="event-venue">Does your event need a venue?</label>
        {{!-- TODO: Need to be edited in front end js --}}
        <button type="yes" class="btn btn-primary" id="venue-yes">Yes</button>
        <button type="no" class="btn btn-primary" id="venue-no">No</button>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if events.length}}
  <div class="col-md-6 event-list">
    <h3>Current events:</h3>

    {{#each events as |event|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/events/{{event.id}}">{{event.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger delete-event-btn" data-id="{{event.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

  {{!-- If event selected --}}
  {{#if event.id }}
  {{!-- Display event details --}}
  <h2>{{event-name}}</h2>
  <ul>
    <li>{{event.type}}</li>
    <li>{{event.budget}}</li>
    <li>{{event.guests}}</li>
    <li>{{event.vendors}}</li>
    <li>{{event.venue}}</li>
  </ul>
  {{/if}}

<script src="./js/profile.js"></script>
